.dashboard-container {
  height: 100vh;
  background-color: rgb(145, 148, 148);
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .dashboard-container {
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  .dashboard-container {
    width: 1300px;
  }
}
